@model IEnumerable<Shim_Cars.CarsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="CSSTableGenerator" style ="height: 400px; overflow-y:auto">
   <table id="AllCarsTable"  >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyRentalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyLateReturnCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>item.GetGearType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyRentalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyLateReturnCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
    </div>
